*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;

/* icone poste in'alto a destra  */
}
.icon-top{
    color: white;
    display: flex;
    justify-content: flex-end;
}
.icon-top > div{
    background-color: rgb(80, 80, 80);
    padding: 2px 5px;
    margin: 5px;
    border-radius: 5px;
}
/* Contenuto Prinipale della pagina */
.container{
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img{
    height: 100px;
    width: 160px;
    margin:0 2px;
    background-image: url(../img/foglia.jpg!d);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: white;
}
.img > i {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    font-size: 10px;
}
/* Nav della pagina*/
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(41, 40, 40);
}
nav ul {
    list-style: none;
    display: flex;
    text-align: center;
}
nav li{
    color: white;
    font-weight: bold;
    padding: 15px;
    align-items: center;
}
.options{
    display: flex;
}
nav li > i,.options > div:first-child > i{
    font-size: 25px;
}
.options > div:last-child > i{
    font-size: 10px;
    margin: 0 0 0 10px;
}
.li-green{
    color: greenyellow;
} 
.li-red{
    display: flex;
    color: red;
    background-color: rgb(80, 80, 80);
}